header.main {
  height: auto;
  border-bottom: 1px solid $light-gray;
  text-align: center;
  background: #fff;

  .colour-bar {
    background: $eyc-red;
    color: $white;
    padding: 0.4rem 0;
  }

  .va-center .cell {
    display: flex;
    align-items: center;
  }
}

nav.social {
  text-align: right;
  width: 100%;
}

.icon-link {
  padding: 0 0.5rem;
  color: $white;

  &:last-child {
    padding-right: 0;
  }
}

.site-title {
  margin: 0;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 500;
}
