nav.main {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;

  > ul.menu {
    > li > a {
      padding: 0 1rem;
    }

    > li:last-child > a {
      padding-right: 0;
    }
  }

  li a {
    font-weight: 300;
  }

  ul.submenu {
    margin-top: -40px;
  }

  @include breakpoint(small only) {
    justify-content: center;
  }
}

ul.menu:hover li a {
  color: $anchor-color-hover;

  &:hover {
    color: $anchor-color;
  }
}

nav.main > ul.menu > li.is-dropdown-submenu-parent > a::after {
  display: none;
}
