<footer class="main">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell auto">
                {% markdown "footer.md" %}
            </div>
        </div>
    </div>
</footer>
