{% extends "layout.njk" %}

{% block head %}
<title>{{ site.title }}</title>
{% endblock %}

{% block content %}
<div class="grid-container">
    <div class="grid-x">
        <div class="cell">
            <p>Test Homepage Content</p>
        </div>
    </div>
</div>
{% endblock %}
