{% extends "layout.njk" %}

{% block head %}
<title>{{ site.title }}</title>
{% endblock %}

{% block content %}
<div class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="cell auto">
            {% markdown "about.md" %}
        </div>
    </div>
</div>
{% endblock %}
