<nav class="main">
    <ul class="dropdown menu" data-dropdown-menu>
        <li><a href="/about.html">About Us</a></li>
        <li><a href="/activities.html">Our Activities</a></li>
        <li><a href="/donate.html">Support Us</a></li>
    </ul>
</nav>
