<nav class="main">
    <ul class="dropdown menu" data-dropdown-menu>
        <li><a href="/overview.html">Overview</a></li>
        <li><a href="/principles.html">Principles</a></li>
        <li><a href="/teamwork.html">Teamwork</a></li>
    </ul>
</nav>
